/* Reset default styles for all elements */
* {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  
  body {
    overflow: hidden;
    font-family: 'IBM Plex Mono', monospace;
    height: 100vh;
    background-color: #1e272e; /* Dark blue-gray background */
    color: #ecf0f1; /* Light gray text color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .currenttime h1 {
    padding-top: 50px;
    text-align: center;
  }

  .currenttime p {
    text-align: center;
    padding-bottom: 50px; 
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  /* Common styles for countdown items */
  .countdown-item {
    background-color: #3742fa; /* Blue background for countdown items */
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  .countdown-item p {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
  }
  
  .countdown-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .countdown-timer {
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease-in-out; /* Add a color transition */
  }
  
  .banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ff793f; /* Orange background for the banner */
    color: #fff;
    text-align: center;
    z-index: 999;
    padding: 10px;
  }
  
  /* Banner text styles */
  .banner-text {
    font-size: 16px;
    margin: 0;
    padding: 5px;
  }
  
  #linkone {
    color: #87CEEB; /* Light blue link color */
    font-weight: bold;
    text-decoration: none;
  }
  
  #linkone:hover {
    text-decoration: underline;
  }
  

  .container {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center content horizontally */
    padding: 20px;
    text-align: center; /* Center text within the container */
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .countdown-container {
    flex: 1;
  }
  .motivation-container {
    flex: 2;
  }
  
  .countdown-container {
    text-align: left;
    padding-right: 10px; /* Add some spacing between columns */
    height: auto;
  }
  
  .motivation-container {
    text-align: left;
    padding-left: 10px; /* Add some spacing between columns */
    background-color: #2ecc71; /* Green background for motivation */
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    color: #fff;
    height: 215px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .motivation-container::-webkit-scrollbar {
    width: 5px;
  }
  
  
  .motivation-text {
    font-size: 20px;
    margin: 10px 0;
    line-height: 1.4;
  }

#quote-container {
    text-align: justify;
}

#quote-container li {
  word-wrap: normal;
  padding: 5px;
  overflow: hidden;
  font-size: 16px;
  display: inline-block;
  text-align: left;
  width: 100%;
  margin: 0;
}