* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;
}
body {
  overflow: hidden;
  font-family: Arial, sans-serif;
  height: 100vh;
  background-color: #d1cbc1;
  color: #2d383a;
  /*   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /*   border: 1px solid black; */
  text-align: center;
  word-spacing: 0.2em;
}

.countdown {
  width: 80vw;
  max-width: 600px;
  /*   border: 1px solid black; */
  text-align: left;
  margin: 15px;
}

.header {
  text-align: center;
}

#title {
  font-size: min(max(18px, 2.5vw), 24px);
  font-weight: 100;
  /*   border: 1px solid black; */
  margin: 20px;
}

/* .horizontal-line {
  width: 100%;
  height: 1px;
  background-color: black;
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 9999;
} */

.search-bar {
  width: 80vw;
  max-width: 600px;
  /*   border: 1px solid black; */
  height: 10vh;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#search-form {
  display: flex;
  align-items: center;
  height: 8vh;
  width: 100%;
  /*   border: 1px solid black; */
}

#search-input {
  box-sizing: border-box;
  background-color: #e1e1e1;
  height: 100%;
  width: 85%;
  border-radius: 10px;
  font-size: min(max(14px, 2.5vw), 20px);
  border: none;
  padding: 5px;
  padding-left: 15px;
}

#search-button {
  margin-left: 10px;
  height: 100%;
  width: 10%;
  min-width: 30px;
  border: none;
  background-color: #2d383a;
  color: #d1cbc1;
  font-size: min(max(14px, 2.5vw), 20px);
  /*   padding: 10px 20px; */
  border-radius: 10px;
}
